.gear1{
    animation: rotate 5s linear  infinite;
}
.gear2{
    animation: rotate-anti-clock 5s linear  infinite;
}
.menu-btn{
    animation:floating 5s linear infinite;
}
.sun{
     animation: rotate 15s linear  infinite;
}

@keyframes rotate {
    0%{
        rotate:0deg
    }
    100%{
        rotate:360deg
    }
}

@keyframes rotate-anti-clock {
    0%{
        rotate:0deg
    }
    100%{
        rotate:-360deg
    }
}

@keyframes floating {
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(5px,5px);
    }
    50%{
        transform: translate(-5px,-5px);
    }
    100%{
        transform: translate(0px,0px);
    }
}