.gear1{
    animation: rotate 5s linear  infinite;
}
.gear2{
    animation: rotate-anti-clock 5s linear  infinite;
}

@keyframes rotate {
    0%{
        rotate:0deg
    }
    100%{
        rotate:360deg
    }
}

@keyframes rotate-anti-clock {
    0%{
        rotate:0deg
    }
    100%{
        rotate:-360deg
    }
}