@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


body {
  /* background-color: #212121;
  color:#DEDEDE */
  background-color: #2A1B3D;
  overflow-x: hidden;
  /* overflow: auto;
  scrollbar-width: none; */
}

@font-face {
  font-family: 'OnePiece';
  src: url('/fonts/OnePieceFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


